<h1>Reset your password</h1>

<%= form_with url: password_reset_path(token: params[:token]), method: :patch, local: true do %>
  <div>
    <%= label_tag :password, "New password" %><br />
    <%= password_field_tag :password, nil, required: true, minlength: 6, autofocus: true %>
  </div>

  <div>
    <%= label_tag :password_confirmation, "Confirm new password" %><br />
    <%= password_field_tag :password_confirmation, nil, required: true, minlength: 6 %>
  </div>

  <div>
    <%= submit_tag "Update password" %>
  </div>
<% end %>

<p>
  <%= link_to "Back to log in", login_path %>
  |
  <%= link_to "Request a new link", new_password_reset_path %>
  </p>
