<h1>Forgot your password?</h1>

<p>Enter your email address and we'll send you a link to reset your password.</p>

<%= form_with url: password_resets_path, method: :post, local: true do %>
  <div>
    <%= label_tag :email, "Email" %><br />
    <%= email_field_tag :email, params[:email], required: true, autofocus: true %>
  </div>

  <div>
    <%= submit_tag "Send reset link" %>
  </div>
<% end %>

<p>
  <%= link_to "Back to log in", login_path %>
</p>
