<div class="settings-container">
  <h1>Change Email or Password</h1>

  <div class="settings-content">
    <%= form_with model: @user, url: credentials_settings_path, method: :patch, local: true do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited changes from being saved:</h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <fieldset>
        <legend>Account</legend>

        <div>
          <%= f.label :email %><br />
          <%= f.email_field :email, required: true, placeholder: "you@example.com" %>
        </div>

        <div>
          <%= label_tag :current_password, 'Current password (required to change email or password)' %><br />
          <%= password_field_tag :current_password, nil, autocomplete: 'current-password' %>
        </div>

        <div>
          <%= f.label :password, 'New password (leave blank to keep current)' %><br />
          <%= f.password_field :password, autocomplete: 'new-password' %>
        </div>

        <div>
          <%= f.label :password_confirmation, 'Confirm new password' %><br />
          <%= f.password_field :password_confirmation, autocomplete: 'new-password' %>
        </div>
      </fieldset>

      <div class="settings-actions">
        <%= f.submit "Save Changes", class: "button save-button" %>
        <%= link_to "Back to Settings", settings_path, class: "button cancel-button" %>
      </div>
    <% end %>
  </div>
</div>
