<!DOCTYPE html>
<html>
  <head>
    <title>GiftWiseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% unless Rails.env.test? %>
      <%= javascript_importmap_tags %>
    <% end %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
        <nav>
          <%= link_to "Home", root_path %> |
          <%= link_to "Contacts", contacts_path %> |
          <%= link_to "Events", events_path %> |
          <%= link_to "Settings", settings_path %> |
          <%= button_to "Logout", session_path, method: :delete %>
        </nav>
      <% end %>
    </header>

    <% flash.each do |k, v| %>
      <div><%= v %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
